@model FirstApp.Services.ViewModels.Discussion.IndexDiscussionsViewModel;
@{
    ViewData["Title"] = "Index";
}
@Model.
<div class="col-lg-9">
    <div class="row">
        @*@foreach (var article in Model)
        {
            <div class="col-4">
                <a asp-controller="Articles" asp-action="DetailsArticle" asp-route-id="@article.Id">
                    <div class="card mr-md-1 text-white bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">@article.Category - @article.Team</h5>
                            <div class="text-center">
                                <img src="@article.ImageUrl" class="img-thumbnail">
                                <p class="card-text">@article.Title</p>
                                <h5 class="card-footer">@article.CreatedOn</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }*@
    </div>
</div>

