@using FirstApp.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Internal
@model FirstApp.Services.ViewModels.Home.IndexArticleViewModel
@inject SignInManager<FirstAppUser> SignInManager
@inject UserManager<FirstAppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}



<div class="row justify-content-around">

    @for (int i = 0; i < Model.Videos.Count; i++)
    {
        var video = Model.Videos.ElementAt(i);

        <video controls="controls" width="260">
            <source src="@video.VideoUrl" type="video/mp4" />
        </video>
    }

</div>
<hr />

<div class="row justify-content-around">

    <div class="article-box">



        @if (SignInManager.IsSignedIn(User))
        {
            var favoriteTeam = UserManager.GetUserAsync(User).Result.FavoriteTeam;
            @if (favoriteTeam != null)

            {
                <h3 class="w-75 text-center m-1">Favorite Team News</h3>


                @foreach (var article in Model.FavoriteArticles.Reverse())
                {
                    <div class="article-container bg-dark text-white mb-1">
                        <a asp-controller="Articles" asp-action="DetailsArticle" asp-route-id="@article.Id">
                            <img src="@article.ImageUrl" class="img-article" />
                            <div class="article-title text-white">
                                <span>@article.Title</span>
                            </div>
                        </a>
                    </div>
                }
            }
        }

        <h3 class="w-75 text-center m-1">Newest</h3>

        @foreach (var article in Model.Articles.Reverse())
        {
            <div class="article-container bg-dark text-white mb-1">
                <a asp-controller="Articles" asp-action="DetailsArticle" asp-route-id="@article.Id">
                    <img src="@article.ImageUrl" class="img-article" />
                    <div class="article-title text-white">
                        <span>@article.Title</span>
                    </div>
                </a>
            </div>
        }


    </div>


    <div class="survey-box">

        <h3 class="text-center m-1">Surveys</h3>

        <div class="card text-white bg-dark h-100">

            @{
                @if (Model.ActiveSurveys.Count > 0)
                {
                    <partial name="_Survey" model="Model" />
                }
            }
        </div>
    </div>

</div>


@section Scripts
    {
    <script>

    </script>
}
















