@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Internal
@model FirstApp.Services.ViewModels.Home.IndexArticleViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Champions Club</h1>
    <hr />
</div>


<div class="row">
    <div class=" col-lg-3 ">
        <div class="card h-100 ml-lg-1 text-white bg-dark">
            <div class="card-body">
                <h5 class="card-title">Future content</h5>
                <div>Love Kari</div>
                <br />
                <button id="loveButton" class="w-100 mb-1 bg-primary">press to see the best couple</button>
                <img id="loveImg" hidden src="Images/343100052_759740352285042_247166928697031046_n.png" />

                <p class="card-text">
                    Where does it come from?
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
                    literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia,
                    looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,
                    discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
                    The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                </p>

                <h5 class="card-footer"></h5>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="row">
            @foreach (var article in Model.Articles)
            {

                <div class="article-container bg-dark text-white">
                    <a asp-controller="Articles" asp-action="DetailsArticle" asp-route-id="@article.Id">
                        <img src="@article.ImageUrl" class="img-article"/>
                        <div class="article-title text-white">
                            <span>@article.Title</span>  
                        </div>
                    </a>
                </div>

                @*<div class="col-4">
                        <a asp-controller="Articles" asp-action="DetailsArticle" asp-route-id="@article.Id">
                            <div class="card mr-md-1 ">
                                <div class="card-thumbnail text-white bg-dark">
                                <img src="@article.ImageUrl" class="img-thumbnail">
                                <p class="text-center">@article.Category - @article.Team</p>

                                    <h5 class="card-text">@article.Title</h5>
                                    <h5 class="card-footer">@article.CreatedOn</h5>

                                </div>
                            </div>

                    </div>*@

            }
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        $("#loveButton").click(function () {
            var btn = document.getElementById("loveButton");

            console.log(btn.textContent);
            if (btn.textContent === "press to see the best couple") {

                btn.textContent = "Hide the best couple";
                document.getElementById("loveImg").removeAttribute("hidden");
                removeAttribute("hidden");
            } else {

                btn.textContent = "press to see the best couple";
                document.getElementById("loveImg").setAttribute("hidden", "hidden");
            }
        })
    </script>
}




